.article {
    border: 20% solid black;
    padding: 15px;
    margin: 15px;
    background-color: lightgray;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 10px gray ;
}
.header{
    height: 100px;
    background-color: lightgreen;
    border: 20% solid black;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 10px gray;
    background-size: cover;
    color: whitesmoke;
    background-image: url('html-css-collage-concept.jpg');
}